/* style.css / YDITS / よね/Yone のサイト / Yone */
html {
  scroll-behavior: smooth;
}

/* ----- Other ----- */
/* --- main --- */
main .hero {
  min-height: 20vh;
  padding: 2em 0 0 0;
}

main .pageTitle {
  font-size: 1.2em;
  margin-bottom: 3em;
}

main .pageTitle h1 {
  margin: 0 0 0.3em 0 ;
}

main .pageTitle p {
  margin: 0;
}

main .pageLink {
  margin: 0 0 10em 0;
}

main .pageLink nav ul {
  display: flex;
  list-style: none;
}

@media (min-width: 1153px) {
  main .pageLink nav ul {
    padding: 0 5em;
  }
}

@media (max-width: 1152px) {
  main .pageLink nav ul {
    padding: 0 2em;
  }
}

main .pageLink nav ul li {
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}

main .pageLink nav ul li a {
  display: inline-block;
  width: 15em;
  height: 3.5em;
  border-radius: 0.2em;
  padding: 2em 0 0 0;
  border: thin solid rgba(127, 127, 127, 255);
  text-decoration: none;
  color: #111;
  transition: all .1s;
}

main .pageLink nav ul li a:hover {
  background-color: rgba(127, 127, 127, 255);
  color: #fff;
}

main section h2 {
  margin: 0;
  padding: 1em 0;
}

main #news {
  margin: 5em 0;
  text-align: center;
}

main #platform {
  margin: 5em 0;
  text-align: center;
}

main #platform img {
  margin: 0 5em;
  width: 10em;
  border-radius: 1em;
}

main #source {
  margin: 5em 15em;
}

main #source h2,
main #source p {
  text-align: center;
}

main  #source ul {
  padding: 0;
}

@media (max-width: 1152px) {
  main .pageLink nav ul {
    display: block;
    padding: 0;
  }

  main .pageLink nav ul li {
    margin: 2em auto;
  }

  main #source {
    margin: 5em 3em;
  }
}

main #terms {
  margin: 5em 0;
  text-align: center;
}

main a {
  margin: 0 auto;
}